@use "../../../core/scss/color-palette.scss" as *;

.nk__ui-lib__story__block__specification {
    padding: 1rem;
    margin-top: 0.5rem;
}

.nk__ui-lib__story__block__specification__title {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: color(grey, 500);
}

.nk__ui-lib__story__block__specification__description {
    margin-top: 0.5rem;
    color: color(grey, 800);
}

code {
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    background-color: color(grey, 100);
    color: color(grey, 500);
}