@use "../../scss/color-palette.scss" as *;

.nk__loading-indicator {
    height: 0.4rem;
    width: 100%;
    display: inline-block;
    position: relative;
    background-color: transparent;
    &::before {
        content: "";
        height: 100%;
        width: 5%;
        position: absolute;
        animation: load 1.5s linear infinite; 
    }

    // Blue THeme
    &.nk__blue__theme {
        &::before {
            background: linear-gradient(to right, transparent 0 10%, color(blue, 500) 35% 65%, transparent 90% 100%);
        }
    }

    // Purple THeme
    &.nk__purple__theme {
        &::before {
            background: linear-gradient(to right, transparent 0 10%, color(purple, 500) 35% 65%, transparent 90% 100%);
        }
    }

    // Green THeme
    &.nk__green__theme {
        &::before {
            background: linear-gradient(to right, transparent 0 10%, color(green, 500) 35% 65%, transparent 90% 100%);
        }
    }
}

@keyframes load {
    50% {
        width: 100%;
    }
    100% {
        right: 0;
        width: 0;
    }
}