@function color($color, $value: 0) {
    @return map-get(map-get($palette, $color), $value);
}
     
$palette: (
    blue: (
        100: rgb(194, 209, 255),
        200: rgb(161, 185, 255),
        300: rgb(100, 139, 255),
        400: rgb(60, 109, 255),
        500: rgb(0, 62, 255),
        600: rgb(2, 55, 212),
        700: rgb(0, 45, 179),
        800: rgb(1, 30, 119),
        900: rgb(2, 24, 90),
    ),
    purple: (
        100: rgb(234, 203, 255),
        200: rgb(222, 172, 255),
        300: rgb(201, 121, 255),
        400: rgb(179, 65, 255),
        500: rgb(151, 0, 255),
        600: rgb(127, 1, 211),
        700: rgb(105, 1, 175),
        800: rgb(85, 3, 139),
        900: rgb(70, 2, 116),
    ),
    green: (
        100: rgb(166, 255, 179),
        200: rgb(117, 255, 138),
        300: rgb(92, 255, 116),
        400: rgb(56, 255, 86),
        500: rgb(0, 255, 38),
        600: rgb(3, 202, 33),
        700: rgb(1, 163, 25),
        800: rgb(2, 138, 22),
        900: rgb(2, 100, 17),
    ),
    grey: (
        100: rgb(236, 236, 236),
        200: rgb(204, 204, 204),
        300: rgb(180, 180, 180),
        400: rgb(163, 163, 163),
        500: rgb(112, 112, 112),
        600: rgb(100, 100, 100),
        700: rgb(71, 71, 71),
        800: rgb(46, 46, 46),
        900: rgb(0, 0, 0),
    ),
    white: (
        base: rgb(255, 255, 255),
    ),
    black: (
        base: rgb(0, 0, 0),
    ),
);